@charset "UTF-8";

.Write {
	text-decoration: none;
	box-sizing: border-box;
	min-width : 50px;
	min-height : 50px;
	border : 1px solid #000000;
	background: #000000;
	color : #ffffff;
	padding : 10px 20px;
	margin :5px 20px;
	position: absolute;
	left : 300px;
}

.Write:hover{
	background : #444444;
}
